	
/*----------------------------------------------inputs------------------------------------------*/

#intro	.input{
			margin-bottom: 10px;
			width: 250px;
		}
		
#intro	.select{
			margin-bottom: 10px;
			width: 200px;
		}
		
#intro	.label{
			display: block;
			width: 100px;
			float: left;
		}